<p>Dear {{ slot.booker.first_name }} {{ slot.booker.last_name}} & {{ slot.subject.owner.first_name }} {{ slot.subject.owner.last_name}},</p>

<p>You have a new booking for {{ slot.subject.dog_name }}</p>
<p>Date: {{ slot.date }}</p>
<p>Start time: {{ slot.start }}</p>
<p>End time: {{ slot.end }}</p>

{% if slot.comments %}
<p>Comments from {{ slot.booker.first_name }}: "{{ slot.comments }}"</p>
{% endif %}

<p>Sincerely,</p>
<p>The Doggy Booker Team</p>


<a href="dogbooker.co.uk">https://dogbooker.co.uk</a>