{% extends "base.html" %}

{% block content %}
    <h1>Register Dog</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.dogname.label }}<br>
            {{ form.dogname(size=32) }}
        </p>
        <p>
            {{ form.personname.label }}<br>
            {{ form.personname(size=32) }}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}