{% extends "base.html" %}

{% block content %}
    <h1>Your Bookings</h1>
    <table>
        <tr>
            <th>Dog</th>
            <th>Date</th>
            <th>Start</th> 
            <th>End</th> 
            <th>Booked By</th>
        </tr>
    {% for slot in slots %}
    <tr>
        <td>{{slot.subject.dog_name}}</td>
        <td>{{slot.date}}</td>
        <td>{{slot.start}}</td> 
        <td>{{slot.end}}</td> 
        <td>{{slot.booker.username}}</td>
        <td><a href="{{ url_for('delete_slot', slot=slot.id) }}">Delete Booking</a></td> 
    </tr>
    {% endfor %}
    </table>
{% endblock %}