{% extends "base.html" %}

{% block content %}
    <html>
        <head>
            <h1>Confirmation: {{ dog_name }}!!!</h1>
            <title>{{ title }} - Dog Booker</title>
        </head>
        <body>
            <h3>Details below for your booking. Please check and then click confirm to proceed.</h3>
            <h4>Date: {{ slot.date }}</h4>
            <h4>Start: {{ slot.start }}</h4>
            <h4>End: {{ slot.end }}</h4>
            <h4><a href="{{ url_for('confirmed', slot=slot) }}">Click to Book!</a></h4>

        </body>
    </html>
{% endblock %}
