{% extends "base.html" %}

{% block content %}
<section class="page-section" id="bookings">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Confirm Booking</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

            <h5>Please confirm your session with: {{ dog_name }}</h5>
            </br>
            <p>{{ slot.day_str }}</p>
            <p>Date: {{ slot.date }}</p>
            <p>Start: {{ slot.start }}</p>
            <p>End: {{ slot.end }}</p>
            <h5><a href="{{ url_for('confirmed', slot=slot.id) }}">Click to Book!</a></h5>
{% endblock %}
