{% extends "base.html" %}

{% block content %}
<!-- Linked to New Booking where users can see available dogs and allows you to make bookings-->
<section class="page-section" id="book_dog">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">New Booking</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--<h2>Make new bookings to look after your neighbours' dogs</h2>-->
    <!--New booking section starts here-->
    </br>
    <h4>Available Slots For: {{ dog.dog_name }}</h4>
    <p>Dog Parent(s): {{ dog.owner.first_name }}</p>
    <p>Breed: {{ dog.breed }}</p>
    <p>Gender: {{ dog.gender }}</p>
    <p>Age: {{ dog.age }}</p>
    <p>Essential Info: {{ dog.info }}</p>
    {% if picture %}
    <img class="img-fluid rounded mb-5" src="{{ url_for('upload', filename=picture) }}" style="width: 500px">
    {% endif %}
    <h4>Please select a slot from the list below.</h4>
        <title>{{ title }} - Dog Booker</title>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Book</th>
            </tr>
            </thead>
            {% for slot in slots %}
            <tr>
                <td>{{slot.day_str}}</td>
                <td>{{slot.date}}</td>
                <td>{{slot.start}}</td> 
                <td>{{slot.end}}</td> 
                <td><a href="{{ url_for('book_slot', slot=slot.id) }}">Click to Book!</a></td> 
            </tr>
            {% endfor %}
        </table>                     
{% endblock %}
