{% extends "base.html" %}

{% block content %}
<!-- Once logged in, this page will display to welcome users-->
<!-- Masthead-->
<section class="page-section" id="page-top">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="/static/assets/img/groupshot.jpg" alt="" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Dog Booker</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                <title>{{ title }} - Dog Booker</title>
                <!-- <h2>Welcome to Dog Booker!</h2> -->
            </br>
                <body>
                    <h4>Welcome to Dog Booker, {{ current_user.first_name }}!</h4>
                    <p class="lead">
                        Please go to <u>My Dog</u> to resigter your dog(s) and add/view your available slots. You can also go to <u>New Booking</u> to book your neighbour's dog.
                    </p>
                </body>
            </p>
            </div>
        </header>
    </section>
{% endblock %}
