{% extends "base.html" %}

{% block content %}
<!-- Once logged in, this page will display to welcome users-->
<!-- Masthead-->
<section class="page-section" id="home"></section>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="/static/assets/img/groupshot.jpg" alt="" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Dog Booker</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                <title>{{ title }} - Dog Booker</title>
                <h2>Welcome to Dog Booker!</h2>
            </br>
                <body>
                    <h2>Hi, {{ current_user.username }}!</h2>
                    <h3>Please go to My Dogs to resigter your dog(s) and add available slots. You can also go to New Booking to make a booking.</h3>
                </body>
            </p>
        </div>
    </header>
{% endblock %}
