{% extends "base.html" %}
 
{% block content %}
<!-- Log in page and includes Registeration too-->


<section class="page-section" id="login">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
 
                <!--<h2>Please sign in below</h2>-->
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.username.label }}</label>
                            {{ form.username(size=32, class_="form-control", placeholder="Username") }}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.password.label }}</label>
                            {{ form.password(size=32, class_="form-control", placeholder="Password") }}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <label>{{ form.remember_me() }}</label>
                            {{ form.remember_me.label }}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group"></div>
                            {{ form.submit(class_="btn btn-primary btn-xl") }}
                    </div>
                
                </form>
                <p>
                    Forgot Your Password?
                    <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
                </p>
                <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}