{% extends "base.html" %}

{% block content %}
<section class="page-section" id="register">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                
                <!--<h1>Register</h1>-->
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.username.label }}</label>
                            {{ form.username(size=32, class_="form-control", placeholder="Username") }}
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.first_name.label }}</label>
                            {{ form.first_name(size=32, class_="form-control", placeholder="First Name") }}
                            {% for error in form.first_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.last_name.label }}</label>
                            {{ form.last_name(size=32, class_="form-control", placeholder="Last Name") }}
                            {% for error in form.last_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.phone.label }}</label>
                            {{ form.phone(size=32, class_="form-control", placeholder="Phone Number") }}
                            {% for error in form.phone.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.email.label }}</label>
                            {{ form.email(size=64, class_="form-control", placeholder="Email") }}
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.password.label }}</label>
                            {{ form.password(size=32, class_="form-control", placeholder="Password") }}
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ form.password2.label }}</label>
                            {{ form.password2(size=32, class_="form-control", placeholder="Password") }}
                            {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <br/>
                        <div class="control-group">
                        <div class="form-group">
                            {{ form.submit(class_="btn btn-primary btn-xl") }}
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}