{% extends "base.html" %}

{% block content %}
<section class="page-section" id="register_dog">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register Dog</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <!--<h1>Enter your dog's details</h1>-->
        <form action="" method="post">
            {{ form.hidden_tag() }}
                <p>
                    {{ form.dog_name.label }}</br>
                    {{ form.dog_name(size=20)}}</br>
                    {% for error in form.dog_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.gender.label }}</br>
                    {{ form.gender(size=2)}}</br>
                    {% for error in form.gender.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.breed.label }}</br>
                    {{ form.breed(size=20)}}</br>
                    {% for error in form.breed.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.info.label }}</br>
                    {{ form.info(size=100)}}</br>
                    {% for error in form.info.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.dob.label }}</br>
                    {{ form.dob(size=11)}}</br>
                    {% for error in form.dob.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                {{ form.submit(class_="btn btn-primary btn-xl") }}
                </p>
        </form>          
    </div>
</section>
{% endblock %}
