{% extends "base.html" %}

{% block content %}
<!--This is linked to My Dogs-->
<section class="page-section" id="bookings">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Dog's Available Slots</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <h6><a href="{{ url_for('register_dog') }}/">Register Dog</a></h6>
    <h6><a href="{{ url_for('new_slot') }}">Add Slot</a></h6>
    <h6><a href="{{ url_for('repeat_slot') }}">Repeat Slot</a></h6>
    <h6><a href="{{ url_for('edit_dog') }}">Edit Dog</a></h6>
    <h6><a href="{{ url_for('upload_photo') }}">Upload Photo</a></h6>
    </br>
    <h4>My Available Slots</h4>
    <h5>{{ dog.dog_name }}</h5>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Date</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Booked By</th>
            <th scope="col">Comments</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for slot in slots %}
        <tr>
            <td>{{slot.day_str}}</td>
            <td>{{slot.date}}</td> 
            <td>{{slot.start}}</td> 
            <td>{{slot.end}}</td> 
            <td>{{slot.booker.username}}</td>
            <td>{{slot.comments}}</td>
            <td><a href="{{ url_for('delete_slot', slot=slot.id) }}">Delete Slot</a></td> 
        </tr>
        {% endfor %}
    </table>

    {% if picture %}
    <img class="img-fluid rounded mb-5" src="{{ url_for('upload', filename=picture) }}" style="width: 500px">
    {% endif %}
{% endblock %}