{% extends "base.html" %}

{% block content %}
<!-- Linked to New Booking where users can see available dogs and allows you to make bookings-->
<section class="page-section" id="bookings">
    <div class="container"> 
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Available Dogs</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    <!--New booking section starts here-->
    <h2>Here is a list of dogs you can book from. Please click to book.</h2>
    </br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Owner</th>
            <th scope="col">No of Slots Free</th>
            <th scope="col">Book</th>
          </tr>
        </thead>
        <tbody>
            
            {% for dog in dogs %}
            <tr>
                <td>{{dog.dog_name}}</td>
                <td>{{dog.age}}</td> 
                <td>{{dog.owner.username}}</td>
                <td>{{dog.free_slots|length}} </td>
                <td><a href="{{ url_for('book_dog', dog_name=dog.dog_name) }}">Click to Book!</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endblock %}